html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  z-index: -1;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 587px 1092px #fff, 384px 835px #fff, 1535px 162px #fff,
    62px 107px #fff, 661px 906px #fff, 61px 728px #fff, 23px 1503px #fff,
    271px 271px #fff, 1553px 367px #fff, 1331px 526px #fff, 780px 364px #fff,
    743px 95px #fff, 1484px 1731px #fff, 1557px 894px #fff, 1793px 1063px #fff,
    1312px 880px #fff, 3px 1938px #fff, 1221px 1635px #fff, 1437px 1185px #fff,
    903px 1487px #fff, 1px 1375px #fff, 1320px 1694px #fff, 1443px 736px #fff,
    624px 534px #fff, 906px 567px #fff, 641px 1446px #fff, 1673px 1734px #fff,
    895px 1165px #fff, 228px 243px #fff, 1128px 1957px #fff, 1575px 668px #fff,
    979px 1587px #fff, 1502px 710px #fff, 873px 485px #fff, 1022px 1394px #fff,
    209px 965px #fff, 900px 715px #fff, 1491px 1771px #fff, 484px 1416px #fff,
    1018px 653px #fff, 566px 128px #fff, 1449px 722px #fff, 373px 660px #fff,
    1048px 965px #fff, 401px 410px #fff, 174px 465px #fff, 1390px 180px #fff,
    595px 1213px #fff, 1258px 138px #fff, 728px 508px #fff, 718px 754px #fff,
    1556px 1525px #fff, 1189px 1540px #fff, 413px 1844px #fff, 681px 1097px #fff,
    1202px 88px #fff, 671px 21px #fff, 1644px 1253px #fff, 1717px 776px #fff,
    424px 1234px #fff, 778px 24px #fff, 1076px 849px #fff, 1863px 792px #fff,
    946px 1198px #fff, 643px 1778px #fff, 585px 354px #fff, 1816px 1071px #fff,
    1344px 1441px #fff, 331px 969px #fff, 653px 1819px #fff, 365px 474px #fff,
    1544px 795px #fff, 983px 990px #fff, 536px 1481px #fff, 319px 1178px #fff,
    842px 1895px #fff, 1253px 1096px #fff, 1782px 1853px #fff,
    1562px 1039px #fff, 1173px 1044px #fff, 1264px 1728px #fff, 1658px 48px #fff,
    1201px 637px #fff, 1469px 1648px #fff, 1128px 631px #fff, 317px 1832px #fff,
    1014px 1998px #fff, 190px 1697px #fff, 1161px 1550px #fff, 956px 898px #fff,
    1636px 1462px #fff, 738px 179px #fff, 1988px 1044px #fff, 1496px 76px #fff,
    1436px 458px #fff, 277px 1984px #fff, 628px 1952px #fff, 628px 764px #fff,
    730px 1970px #fff, 579px 1232px #fff, 524px 582px #fff, 46px 1573px #fff,
    1762px 1909px #fff, 429px 1817px #fff, 120px 54px #fff, 381px 1797px #fff,
    782px 433px #fff, 276px 177px #fff, 1762px 1850px #fff, 121px 103px #fff,
    593px 903px #fff, 1786px 1295px #fff, 1365px 1551px #fff, 4px 44px #fff,
    1594px 525px #fff, 502px 428px #fff, 910px 1077px #fff, 1260px 1852px #fff,
    1442px 1144px #fff, 862px 854px #fff, 91px 54px #fff, 1254px 1675px #fff,
    129px 1979px #fff, 643px 482px #fff, 494px 338px #fff, 1556px 1802px #fff,
    1421px 1612px #fff, 1786px 144px #fff, 841px 1819px #fff, 1578px 7px #fff,
    1872px 1046px #fff, 1809px 8px #fff, 1740px 465px #fff, 654px 45px #fff,
    1725px 224px #fff, 559px 1404px #fff, 218px 1168px #fff, 1182px 1317px #fff,
    662px 1846px #fff, 1697px 77px #fff, 555px 1579px #fff, 1049px 325px #fff,
    487px 1950px #fff, 1738px 1519px #fff, 1198px 976px #fff, 884px 658px #fff,
    873px 1277px #fff, 66px 921px #fff, 1008px 698px #fff, 1935px 1576px #fff,
    1443px 1309px #fff, 1758px 1075px #fff, 1879px 1766px #fff, 848px 545px #fff,
    1891px 1536px #fff, 896px 1368px #fff, 1740px 1733px #fff, 662px 443px #fff,
    1883px 1764px #fff, 320px 788px #fff, 1175px 1599px #fff, 802px 968px #fff,
    1867px 1495px #fff, 1616px 391px #fff, 1552px 324px #fff, 964px 302px #fff,
    204px 567px #fff, 213px 634px #fff, 1050px 228px #fff, 848px 845px #fff,
    1050px 1870px #fff, 1379px 1977px #fff, 1002px 2px #fff, 1125px 1256px #fff,
    762px 431px #fff, 385px 700px #fff, 1376px 542px #fff, 1324px 1670px #fff,
    538px 507px #fff, 1396px 614px #fff, 849px 937px #fff, 1642px 1932px #fff,
    644px 1165px #fff, 1994px 1675px #fff, 769px 434px #fff, 1869px 1013px #fff,
    1919px 59px #fff, 1934px 65px #fff, 1326px 1849px #fff, 1362px 736px #fff,
    934px 1262px #fff, 948px 210px #fff, 164px 125px #fff, 609px 279px #fff,
    556px 437px #fff, 826px 1608px #fff, 309px 1978px #fff, 1429px 506px #fff,
    1683px 755px #fff, 1213px 1551px #fff, 1918px 794px #fff, 1686px 1691px #fff,
    1888px 581px #fff, 1152px 498px #fff, 1345px 1689px #fff, 45px 427px #fff,
    67px 1233px #fff, 120px 1381px #fff, 1177px 513px #fff, 546px 757px #fff,
    417px 956px #fff, 158px 275px #fff, 1246px 1329px #fff, 1608px 298px #fff,
    956px 663px #fff, 916px 945px #fff, 301px 177px #fff, 210px 536px #fff,
    1464px 1014px #fff, 773px 214px #fff, 1858px 751px #fff, 640px 917px #fff,
    774px 764px #fff, 709px 1773px #fff, 575px 795px #fff, 1527px 1119px #fff,
    648px 812px #fff, 590px 1308px #fff, 1783px 324px #fff, 1021px 462px #fff,
    55px 1965px #fff, 1514px 283px #fff, 1520px 1228px #fff, 47px 1986px #fff,
    1162px 78px #fff, 1194px 665px #fff, 556px 1577px #fff, 75px 1435px #fff,
    1681px 410px #fff, 1870px 416px #fff, 1703px 680px #fff, 296px 481px #fff,
    1572px 1713px #fff, 995px 1244px #fff, 193px 669px #fff, 614px 104px #fff,
    423px 1645px #fff, 1310px 483px #fff, 1667px 82px #fff, 97px 1951px #fff,
    1044px 1117px #fff, 536px 460px #fff, 152px 1627px #fff, 1657px 290px #fff,
    1914px 446px #fff, 299px 899px #fff, 1091px 1324px #fff, 341px 1824px #fff,
    1151px 365px #fff, 772px 362px #fff, 1289px 1885px #fff, 1381px 190px #fff,
    376px 1762px #fff, 964px 1527px #fff, 1695px 1788px #fff, 102px 676px #fff,
    1511px 1770px #fff, 1056px 968px #fff, 1335px 664px #fff, 442px 759px #fff,
    1205px 83px #fff, 1997px 987px #fff, 1097px 582px #fff, 1685px 835px #fff,
    1563px 939px #fff, 404px 118px #fff, 1399px 1044px #fff, 1830px 1007px #fff,
    1255px 1140px #fff, 1182px 1387px #fff, 581px 980px #fff, 458px 1093px #fff,
    1087px 1237px #fff, 1246px 1373px #fff, 1000px 609px #fff, 596px 69px #fff,
    853px 156px #fff, 1059px 1546px #fff, 1616px 861px #fff, 301px 632px #fff,
    889px 392px #fff, 1394px 917px #fff, 550px 1148px #fff, 250px 83px #fff,
    1586px 1496px #fff, 1349px 1114px #fff, 1410px 1983px #fff,
    280px 1466px #fff, 298px 1706px #fff, 685px 249px #fff, 1165px 1091px #fff,
    749px 1501px #fff, 1023px 1293px #fff, 368px 1722px #fff, 1123px 1614px #fff,
    1598px 102px #fff, 1978px 338px #fff, 1512px 900px #fff, 440px 1156px #fff,
    268px 630px #fff, 85px 11px #fff, 1514px 1109px #fff, 25px 971px #fff,
    1444px 928px #fff, 611px 985px #fff, 1525px 1479px #fff, 1643px 1689px #fff,
    1849px 1217px #fff, 359px 1703px #fff, 1783px 1222px #fff, 1297px 202px #fff,
    364px 1321px #fff, 1629px 28px #fff, 960px 1501px #fff, 1222px 1885px #fff,
    1879px 147px #fff, 1757px 1353px #fff, 950px 1223px #fff, 945px 1000px #fff,
    1274px 801px #fff, 207px 9px #fff, 714px 1021px #fff, 1711px 188px #fff,
    84px 338px #fff, 1219px 205px #fff, 1956px 1135px #fff, 1524px 1801px #fff,
    1462px 168px #fff, 439px 434px #fff, 1072px 1510px #fff, 299px 1142px #fff,
    1527px 1050px #fff, 591px 1941px #fff, 15px 857px #fff, 900px 769px #fff,
    678px 415px #fff, 1059px 648px #fff, 1111px 548px #fff, 1054px 1397px #fff,
    1392px 567px #fff, 109px 311px #fff, 366px 807px #fff, 1612px 1274px #fff,
    200px 581px #fff, 1485px 1530px #fff, 1280px 1784px #fff, 1542px 668px #fff,
    426px 1420px #fff, 1492px 609px #fff, 1234px 951px #fff, 263px 1485px #fff,
    1011px 1998px #fff, 1596px 1793px #fff, 683px 48px #fff, 390px 391px #fff,
    874px 1035px #fff, 627px 899px #fff, 25px 1183px #fff, 102px 1700px #fff,
    1070px 64px #fff, 1113px 10px #fff, 1598px 578px #fff, 1900px 1249px #fff,
    246px 467px #fff, 835px 980px #fff, 1410px 1408px #fff, 246px 590px #fff,
    241px 1905px #fff, 554px 68px #fff, 1963px 1494px #fff, 1321px 996px #fff,
    467px 720px #fff, 45px 1542px #fff, 672px 174px #fff, 1297px 1484px #fff,
    1420px 1212px #fff, 1051px 1326px #fff, 1344px 748px #fff, 474px 971px #fff,
    483px 1905px #fff, 900px 497px #fff, 1354px 187px #fff, 944px 366px #fff,
    1912px 1652px #fff, 136px 1182px #fff, 1586px 787px #fff, 1071px 690px #fff,
    1881px 163px #fff, 797px 452px #fff, 432px 723px #fff, 1161px 1496px #fff,
    311px 703px #fff, 1490px 944px #fff, 990px 22px #fff, 1487px 1700px #fff,
    358px 1829px #fff, 1069px 627px #fff, 1702px 1339px #fff, 599px 625px #fff,
    1166px 272px #fff, 1573px 525px #fff, 1100px 323px #fff, 1512px 843px #fff,
    1663px 677px #fff, 915px 1361px #fff, 502px 272px #fff, 622px 367px #fff,
    124px 600px #fff, 651px 626px #fff, 400px 584px #fff, 162px 148px #fff,
    1393px 117px #fff, 1306px 468px #fff, 432px 1964px #fff, 124px 1591px #fff,
    1697px 763px #fff, 59px 1247px #fff, 257px 157px #fff, 955px 866px #fff,
    246px 217px #fff, 1829px 265px #fff, 881px 1116px #fff, 1815px 967px #fff,
    1327px 1138px #fff, 1481px 339px #fff, 975px 362px #fff, 1022px 1434px #fff,
    923px 1079px #fff, 1723px 150px #fff, 883px 400px #fff, 457px 885px #fff,
    1714px 1127px #fff, 651px 839px #fff, 1463px 1783px #fff, 1904px 401px #fff,
    669px 1272px #fff, 1738px 1333px #fff, 47px 1431px #fff, 1973px 1981px #fff,
    217px 739px #fff, 347px 1552px #fff, 787px 1053px #fff, 472px 688px #fff,
    1116px 1663px #fff, 1433px 1197px #fff, 907px 1046px #fff, 1907px 879px #fff,
    1135px 1627px #fff, 187px 193px #fff, 455px 1723px #fff, 1780px 1806px #fff,
    905px 1313px #fff, 1054px 395px #fff, 1076px 1889px #fff, 1521px 1212px #fff,
    1767px 23px #fff, 1686px 54px #fff, 302px 1761px #fff, 1440px 369px #fff,
    185px 181px #fff, 308px 117px #fff, 1360px 1726px #fff, 1314px 1632px #fff,
    146px 1274px #fff, 30px 61px #fff, 379px 1765px #fff, 454px 346px #fff,
    1752px 833px #fff, 461px 545px #fff, 272px 291px #fff, 202px 1029px #fff,
    1941px 1403px #fff, 337px 1252px #fff, 941px 1225px #fff, 1969px 436px #fff,
    1524px 488px #fff, 433px 698px #fff, 1093px 1039px #fff, 1363px 1127px #fff,
    777px 1906px #fff, 1324px 1163px #fff, 1554px 389px #fff, 187px 1852px #fff,
    1575px 73px #fff, 1549px 605px #fff, 443px 1984px #fff, 1877px 119px #fff,
    984px 123px #fff, 1571px 183px #fff, 358px 1207px #fff, 836px 1170px #fff,
    1492px 679px #fff, 524px 297px #fff, 182px 566px #fff, 909px 1556px #fff,
    74px 361px #fff, 1201px 858px #fff, 1600px 503px #fff, 1921px 953px #fff,
    9px 1299px #fff, 1272px 1441px #fff, 1941px 812px #fff, 795px 1269px #fff,
    657px 243px #fff, 1328px 861px #fff, 712px 1950px #fff, 1710px 263px #fff,
    1246px 1699px #fff, 492px 167px #fff, 1578px 839px #fff, 649px 858px #fff,
    1621px 17px #fff, 419px 974px #fff, 1930px 1807px #fff, 574px 909px #fff,
    1527px 40px #fff, 653px 507px #fff, 1794px 824px #fff, 1134px 435px #fff,
    859px 1710px #fff, 1241px 1504px #fff, 1309px 1636px #fff,
    1605px 1317px #fff, 1199px 632px #fff, 39px 1781px #fff, 1397px 1459px #fff,
    959px 818px #fff, 1666px 1818px #fff, 204px 373px #fff, 1762px 1993px #fff,
    547px 1760px #fff, 642px 1955px #fff, 1464px 646px #fff, 1503px 1912px #fff,
    1295px 1052px #fff, 1654px 1146px #fff, 1541px 475px #fff, 428px 14px #fff,
    1769px 433px #fff, 1042px 1354px #fff, 1703px 1729px #fff, 1772px 643px #fff,
    750px 723px #fff, 1766px 1091px #fff, 1572px 1629px #fff, 972px 1456px #fff,
    1931px 1948px #fff, 545px 110px #fff, 1969px 385px #fff, 674px 708px #fff,
    383px 677px #fff, 1147px 897px #fff, 1139px 1666px #fff, 1496px 1198px #fff,
    1066px 275px #fff, 431px 323px #fff, 847px 1608px #fff, 25px 525px #fff,
    1725px 459px #fff, 1917px 1770px #fff, 616px 790px #fff, 1170px 1519px #fff,
    1886px 546px #fff, 991px 69px #fff, 846px 1182px #fff, 1125px 468px #fff,
    165px 942px #fff, 1748px 189px #fff, 1541px 1445px #fff, 1393px 476px #fff,
    1053px 1353px #fff, 1132px 787px #fff, 707px 1822px #fff, 1127px 1861px #fff,
    108px 610px #fff, 335px 530px #fff, 1142px 940px #fff, 1301px 115px #fff,
    516px 1331px #fff, 1407px 1259px #fff, 1770px 1206px #fff,
    1674px 1789px #fff, 597px 92px #fff, 1263px 177px #fff, 422px 1856px #fff,
    402px 1595px #fff, 1302px 1960px #fff, 1562px 1222px #fff, 595px 888px #fff,
    85px 479px #fff, 1837px 1315px #fff, 1197px 1154px #fff, 1013px 999px #fff,
    253px 831px #fff, 1200px 1370px #fff, 1540px 1259px #fff, 1386px 1257px #fff,
    1500px 1320px #fff, 492px 204px #fff, 1239px 1176px #fff, 89px 1305px #fff,
    275px 483px #fff, 10px 383px #fff, 804px 846px #fff, 229px 1826px #fff,
    1251px 1389px #fff, 411px 43px #fff, 1988px 1850px #fff, 763px 1618px #fff,
    845px 1669px #fff, 558px 1222px #fff, 556px 737px #fff, 1172px 1221px #fff,
    1430px 836px #fff, 1476px 333px #fff, 1250px 992px #fff, 651px 1042px #fff,
    672px 270px #fff, 215px 501px #fff, 1878px 908px #fff, 885px 1824px #fff,
    1456px 284px #fff, 609px 282px #fff, 1718px 187px #fff, 1011px 981px #fff,
    1743px 1241px #fff, 463px 1185px #fff, 9px 1363px #fff, 829px 517px #fff,
    355px 1084px #fff, 1429px 1073px #fff, 73px 303px #fff, 359px 830px #fff,
    1288px 949px #fff, 1337px 1324px #fff, 196px 832px #fff, 1984px 1917px #fff,
    1993px 205px #fff, 1512px 1932px #fff, 1944px 705px #fff, 1751px 1890px #fff,
    292px 18px #fff, 26px 898px #fff, 670px 206px #fff, 521px 567px #fff,
    1359px 1313px #fff, 1346px 634px #fff, 809px 1772px #fff, 39px 1132px #fff,
    192px 1753px #fff, 1239px 1428px #fff, 1102px 40px #fff, 1704px 171px #fff,
    652px 1011px #fff, 1666px 319px #fff, 1918px 1946px #fff, 1664px 1791px #fff,
    408px 67px #fff, 585px 1760px #fff, 282px 1185px #fff, 957px 1075px #fff,
    621px 1677px #fff, 679px 1047px #fff, 954px 364px #fff, 273px 1250px #fff,
    1650px 475px #fff, 663px 1433px #fff, 1418px 684px #fff, 587px 641px #fff,
    1833px 1018px #fff, 1439px 887px #fff, 1413px 593px #fff, 1960px 473px #fff,
    372px 1362px #fff, 1751px 405px #fff, 514px 1430px #fff, 689px 881px #fff,
    1702px 775px #fff, 950px 1241px #fff, 1348px 499px #fff, 1239px 1460px #fff,
    787px 51px #fff, 1480px 1535px #fff, 1638px 842px #fff, 1446px 1741px #fff,
    297px 184px #fff, 500px 1213px #fff, 1166px 1071px #fff, 100px 53px #fff,
    357px 1626px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 587px 1092px #fff, 384px 835px #fff, 1535px 162px #fff,
    62px 107px #fff, 661px 906px #fff, 61px 728px #fff, 23px 1503px #fff,
    271px 271px #fff, 1553px 367px #fff, 1331px 526px #fff, 780px 364px #fff,
    743px 95px #fff, 1484px 1731px #fff, 1557px 894px #fff, 1793px 1063px #fff,
    1312px 880px #fff, 3px 1938px #fff, 1221px 1635px #fff, 1437px 1185px #fff,
    903px 1487px #fff, 1px 1375px #fff, 1320px 1694px #fff, 1443px 736px #fff,
    624px 534px #fff, 906px 567px #fff, 641px 1446px #fff, 1673px 1734px #fff,
    895px 1165px #fff, 228px 243px #fff, 1128px 1957px #fff, 1575px 668px #fff,
    979px 1587px #fff, 1502px 710px #fff, 873px 485px #fff, 1022px 1394px #fff,
    209px 965px #fff, 900px 715px #fff, 1491px 1771px #fff, 484px 1416px #fff,
    1018px 653px #fff, 566px 128px #fff, 1449px 722px #fff, 373px 660px #fff,
    1048px 965px #fff, 401px 410px #fff, 174px 465px #fff, 1390px 180px #fff,
    595px 1213px #fff, 1258px 138px #fff, 728px 508px #fff, 718px 754px #fff,
    1556px 1525px #fff, 1189px 1540px #fff, 413px 1844px #fff, 681px 1097px #fff,
    1202px 88px #fff, 671px 21px #fff, 1644px 1253px #fff, 1717px 776px #fff,
    424px 1234px #fff, 778px 24px #fff, 1076px 849px #fff, 1863px 792px #fff,
    946px 1198px #fff, 643px 1778px #fff, 585px 354px #fff, 1816px 1071px #fff,
    1344px 1441px #fff, 331px 969px #fff, 653px 1819px #fff, 365px 474px #fff,
    1544px 795px #fff, 983px 990px #fff, 536px 1481px #fff, 319px 1178px #fff,
    842px 1895px #fff, 1253px 1096px #fff, 1782px 1853px #fff,
    1562px 1039px #fff, 1173px 1044px #fff, 1264px 1728px #fff, 1658px 48px #fff,
    1201px 637px #fff, 1469px 1648px #fff, 1128px 631px #fff, 317px 1832px #fff,
    1014px 1998px #fff, 190px 1697px #fff, 1161px 1550px #fff, 956px 898px #fff,
    1636px 1462px #fff, 738px 179px #fff, 1988px 1044px #fff, 1496px 76px #fff,
    1436px 458px #fff, 277px 1984px #fff, 628px 1952px #fff, 628px 764px #fff,
    730px 1970px #fff, 579px 1232px #fff, 524px 582px #fff, 46px 1573px #fff,
    1762px 1909px #fff, 429px 1817px #fff, 120px 54px #fff, 381px 1797px #fff,
    782px 433px #fff, 276px 177px #fff, 1762px 1850px #fff, 121px 103px #fff,
    593px 903px #fff, 1786px 1295px #fff, 1365px 1551px #fff, 4px 44px #fff,
    1594px 525px #fff, 502px 428px #fff, 910px 1077px #fff, 1260px 1852px #fff,
    1442px 1144px #fff, 862px 854px #fff, 91px 54px #fff, 1254px 1675px #fff,
    129px 1979px #fff, 643px 482px #fff, 494px 338px #fff, 1556px 1802px #fff,
    1421px 1612px #fff, 1786px 144px #fff, 841px 1819px #fff, 1578px 7px #fff,
    1872px 1046px #fff, 1809px 8px #fff, 1740px 465px #fff, 654px 45px #fff,
    1725px 224px #fff, 559px 1404px #fff, 218px 1168px #fff, 1182px 1317px #fff,
    662px 1846px #fff, 1697px 77px #fff, 555px 1579px #fff, 1049px 325px #fff,
    487px 1950px #fff, 1738px 1519px #fff, 1198px 976px #fff, 884px 658px #fff,
    873px 1277px #fff, 66px 921px #fff, 1008px 698px #fff, 1935px 1576px #fff,
    1443px 1309px #fff, 1758px 1075px #fff, 1879px 1766px #fff, 848px 545px #fff,
    1891px 1536px #fff, 896px 1368px #fff, 1740px 1733px #fff, 662px 443px #fff,
    1883px 1764px #fff, 320px 788px #fff, 1175px 1599px #fff, 802px 968px #fff,
    1867px 1495px #fff, 1616px 391px #fff, 1552px 324px #fff, 964px 302px #fff,
    204px 567px #fff, 213px 634px #fff, 1050px 228px #fff, 848px 845px #fff,
    1050px 1870px #fff, 1379px 1977px #fff, 1002px 2px #fff, 1125px 1256px #fff,
    762px 431px #fff, 385px 700px #fff, 1376px 542px #fff, 1324px 1670px #fff,
    538px 507px #fff, 1396px 614px #fff, 849px 937px #fff, 1642px 1932px #fff,
    644px 1165px #fff, 1994px 1675px #fff, 769px 434px #fff, 1869px 1013px #fff,
    1919px 59px #fff, 1934px 65px #fff, 1326px 1849px #fff, 1362px 736px #fff,
    934px 1262px #fff, 948px 210px #fff, 164px 125px #fff, 609px 279px #fff,
    556px 437px #fff, 826px 1608px #fff, 309px 1978px #fff, 1429px 506px #fff,
    1683px 755px #fff, 1213px 1551px #fff, 1918px 794px #fff, 1686px 1691px #fff,
    1888px 581px #fff, 1152px 498px #fff, 1345px 1689px #fff, 45px 427px #fff,
    67px 1233px #fff, 120px 1381px #fff, 1177px 513px #fff, 546px 757px #fff,
    417px 956px #fff, 158px 275px #fff, 1246px 1329px #fff, 1608px 298px #fff,
    956px 663px #fff, 916px 945px #fff, 301px 177px #fff, 210px 536px #fff,
    1464px 1014px #fff, 773px 214px #fff, 1858px 751px #fff, 640px 917px #fff,
    774px 764px #fff, 709px 1773px #fff, 575px 795px #fff, 1527px 1119px #fff,
    648px 812px #fff, 590px 1308px #fff, 1783px 324px #fff, 1021px 462px #fff,
    55px 1965px #fff, 1514px 283px #fff, 1520px 1228px #fff, 47px 1986px #fff,
    1162px 78px #fff, 1194px 665px #fff, 556px 1577px #fff, 75px 1435px #fff,
    1681px 410px #fff, 1870px 416px #fff, 1703px 680px #fff, 296px 481px #fff,
    1572px 1713px #fff, 995px 1244px #fff, 193px 669px #fff, 614px 104px #fff,
    423px 1645px #fff, 1310px 483px #fff, 1667px 82px #fff, 97px 1951px #fff,
    1044px 1117px #fff, 536px 460px #fff, 152px 1627px #fff, 1657px 290px #fff,
    1914px 446px #fff, 299px 899px #fff, 1091px 1324px #fff, 341px 1824px #fff,
    1151px 365px #fff, 772px 362px #fff, 1289px 1885px #fff, 1381px 190px #fff,
    376px 1762px #fff, 964px 1527px #fff, 1695px 1788px #fff, 102px 676px #fff,
    1511px 1770px #fff, 1056px 968px #fff, 1335px 664px #fff, 442px 759px #fff,
    1205px 83px #fff, 1997px 987px #fff, 1097px 582px #fff, 1685px 835px #fff,
    1563px 939px #fff, 404px 118px #fff, 1399px 1044px #fff, 1830px 1007px #fff,
    1255px 1140px #fff, 1182px 1387px #fff, 581px 980px #fff, 458px 1093px #fff,
    1087px 1237px #fff, 1246px 1373px #fff, 1000px 609px #fff, 596px 69px #fff,
    853px 156px #fff, 1059px 1546px #fff, 1616px 861px #fff, 301px 632px #fff,
    889px 392px #fff, 1394px 917px #fff, 550px 1148px #fff, 250px 83px #fff,
    1586px 1496px #fff, 1349px 1114px #fff, 1410px 1983px #fff,
    280px 1466px #fff, 298px 1706px #fff, 685px 249px #fff, 1165px 1091px #fff,
    749px 1501px #fff, 1023px 1293px #fff, 368px 1722px #fff, 1123px 1614px #fff,
    1598px 102px #fff, 1978px 338px #fff, 1512px 900px #fff, 440px 1156px #fff,
    268px 630px #fff, 85px 11px #fff, 1514px 1109px #fff, 25px 971px #fff,
    1444px 928px #fff, 611px 985px #fff, 1525px 1479px #fff, 1643px 1689px #fff,
    1849px 1217px #fff, 359px 1703px #fff, 1783px 1222px #fff, 1297px 202px #fff,
    364px 1321px #fff, 1629px 28px #fff, 960px 1501px #fff, 1222px 1885px #fff,
    1879px 147px #fff, 1757px 1353px #fff, 950px 1223px #fff, 945px 1000px #fff,
    1274px 801px #fff, 207px 9px #fff, 714px 1021px #fff, 1711px 188px #fff,
    84px 338px #fff, 1219px 205px #fff, 1956px 1135px #fff, 1524px 1801px #fff,
    1462px 168px #fff, 439px 434px #fff, 1072px 1510px #fff, 299px 1142px #fff,
    1527px 1050px #fff, 591px 1941px #fff, 15px 857px #fff, 900px 769px #fff,
    678px 415px #fff, 1059px 648px #fff, 1111px 548px #fff, 1054px 1397px #fff,
    1392px 567px #fff, 109px 311px #fff, 366px 807px #fff, 1612px 1274px #fff,
    200px 581px #fff, 1485px 1530px #fff, 1280px 1784px #fff, 1542px 668px #fff,
    426px 1420px #fff, 1492px 609px #fff, 1234px 951px #fff, 263px 1485px #fff,
    1011px 1998px #fff, 1596px 1793px #fff, 683px 48px #fff, 390px 391px #fff,
    874px 1035px #fff, 627px 899px #fff, 25px 1183px #fff, 102px 1700px #fff,
    1070px 64px #fff, 1113px 10px #fff, 1598px 578px #fff, 1900px 1249px #fff,
    246px 467px #fff, 835px 980px #fff, 1410px 1408px #fff, 246px 590px #fff,
    241px 1905px #fff, 554px 68px #fff, 1963px 1494px #fff, 1321px 996px #fff,
    467px 720px #fff, 45px 1542px #fff, 672px 174px #fff, 1297px 1484px #fff,
    1420px 1212px #fff, 1051px 1326px #fff, 1344px 748px #fff, 474px 971px #fff,
    483px 1905px #fff, 900px 497px #fff, 1354px 187px #fff, 944px 366px #fff,
    1912px 1652px #fff, 136px 1182px #fff, 1586px 787px #fff, 1071px 690px #fff,
    1881px 163px #fff, 797px 452px #fff, 432px 723px #fff, 1161px 1496px #fff,
    311px 703px #fff, 1490px 944px #fff, 990px 22px #fff, 1487px 1700px #fff,
    358px 1829px #fff, 1069px 627px #fff, 1702px 1339px #fff, 599px 625px #fff,
    1166px 272px #fff, 1573px 525px #fff, 1100px 323px #fff, 1512px 843px #fff,
    1663px 677px #fff, 915px 1361px #fff, 502px 272px #fff, 622px 367px #fff,
    124px 600px #fff, 651px 626px #fff, 400px 584px #fff, 162px 148px #fff,
    1393px 117px #fff, 1306px 468px #fff, 432px 1964px #fff, 124px 1591px #fff,
    1697px 763px #fff, 59px 1247px #fff, 257px 157px #fff, 955px 866px #fff,
    246px 217px #fff, 1829px 265px #fff, 881px 1116px #fff, 1815px 967px #fff,
    1327px 1138px #fff, 1481px 339px #fff, 975px 362px #fff, 1022px 1434px #fff,
    923px 1079px #fff, 1723px 150px #fff, 883px 400px #fff, 457px 885px #fff,
    1714px 1127px #fff, 651px 839px #fff, 1463px 1783px #fff, 1904px 401px #fff,
    669px 1272px #fff, 1738px 1333px #fff, 47px 1431px #fff, 1973px 1981px #fff,
    217px 739px #fff, 347px 1552px #fff, 787px 1053px #fff, 472px 688px #fff,
    1116px 1663px #fff, 1433px 1197px #fff, 907px 1046px #fff, 1907px 879px #fff,
    1135px 1627px #fff, 187px 193px #fff, 455px 1723px #fff, 1780px 1806px #fff,
    905px 1313px #fff, 1054px 395px #fff, 1076px 1889px #fff, 1521px 1212px #fff,
    1767px 23px #fff, 1686px 54px #fff, 302px 1761px #fff, 1440px 369px #fff,
    185px 181px #fff, 308px 117px #fff, 1360px 1726px #fff, 1314px 1632px #fff,
    146px 1274px #fff, 30px 61px #fff, 379px 1765px #fff, 454px 346px #fff,
    1752px 833px #fff, 461px 545px #fff, 272px 291px #fff, 202px 1029px #fff,
    1941px 1403px #fff, 337px 1252px #fff, 941px 1225px #fff, 1969px 436px #fff,
    1524px 488px #fff, 433px 698px #fff, 1093px 1039px #fff, 1363px 1127px #fff,
    777px 1906px #fff, 1324px 1163px #fff, 1554px 389px #fff, 187px 1852px #fff,
    1575px 73px #fff, 1549px 605px #fff, 443px 1984px #fff, 1877px 119px #fff,
    984px 123px #fff, 1571px 183px #fff, 358px 1207px #fff, 836px 1170px #fff,
    1492px 679px #fff, 524px 297px #fff, 182px 566px #fff, 909px 1556px #fff,
    74px 361px #fff, 1201px 858px #fff, 1600px 503px #fff, 1921px 953px #fff,
    9px 1299px #fff, 1272px 1441px #fff, 1941px 812px #fff, 795px 1269px #fff,
    657px 243px #fff, 1328px 861px #fff, 712px 1950px #fff, 1710px 263px #fff,
    1246px 1699px #fff, 492px 167px #fff, 1578px 839px #fff, 649px 858px #fff,
    1621px 17px #fff, 419px 974px #fff, 1930px 1807px #fff, 574px 909px #fff,
    1527px 40px #fff, 653px 507px #fff, 1794px 824px #fff, 1134px 435px #fff,
    859px 1710px #fff, 1241px 1504px #fff, 1309px 1636px #fff,
    1605px 1317px #fff, 1199px 632px #fff, 39px 1781px #fff, 1397px 1459px #fff,
    959px 818px #fff, 1666px 1818px #fff, 204px 373px #fff, 1762px 1993px #fff,
    547px 1760px #fff, 642px 1955px #fff, 1464px 646px #fff, 1503px 1912px #fff,
    1295px 1052px #fff, 1654px 1146px #fff, 1541px 475px #fff, 428px 14px #fff,
    1769px 433px #fff, 1042px 1354px #fff, 1703px 1729px #fff, 1772px 643px #fff,
    750px 723px #fff, 1766px 1091px #fff, 1572px 1629px #fff, 972px 1456px #fff,
    1931px 1948px #fff, 545px 110px #fff, 1969px 385px #fff, 674px 708px #fff,
    383px 677px #fff, 1147px 897px #fff, 1139px 1666px #fff, 1496px 1198px #fff,
    1066px 275px #fff, 431px 323px #fff, 847px 1608px #fff, 25px 525px #fff,
    1725px 459px #fff, 1917px 1770px #fff, 616px 790px #fff, 1170px 1519px #fff,
    1886px 546px #fff, 991px 69px #fff, 846px 1182px #fff, 1125px 468px #fff,
    165px 942px #fff, 1748px 189px #fff, 1541px 1445px #fff, 1393px 476px #fff,
    1053px 1353px #fff, 1132px 787px #fff, 707px 1822px #fff, 1127px 1861px #fff,
    108px 610px #fff, 335px 530px #fff, 1142px 940px #fff, 1301px 115px #fff,
    516px 1331px #fff, 1407px 1259px #fff, 1770px 1206px #fff,
    1674px 1789px #fff, 597px 92px #fff, 1263px 177px #fff, 422px 1856px #fff,
    402px 1595px #fff, 1302px 1960px #fff, 1562px 1222px #fff, 595px 888px #fff,
    85px 479px #fff, 1837px 1315px #fff, 1197px 1154px #fff, 1013px 999px #fff,
    253px 831px #fff, 1200px 1370px #fff, 1540px 1259px #fff, 1386px 1257px #fff,
    1500px 1320px #fff, 492px 204px #fff, 1239px 1176px #fff, 89px 1305px #fff,
    275px 483px #fff, 10px 383px #fff, 804px 846px #fff, 229px 1826px #fff,
    1251px 1389px #fff, 411px 43px #fff, 1988px 1850px #fff, 763px 1618px #fff,
    845px 1669px #fff, 558px 1222px #fff, 556px 737px #fff, 1172px 1221px #fff,
    1430px 836px #fff, 1476px 333px #fff, 1250px 992px #fff, 651px 1042px #fff,
    672px 270px #fff, 215px 501px #fff, 1878px 908px #fff, 885px 1824px #fff,
    1456px 284px #fff, 609px 282px #fff, 1718px 187px #fff, 1011px 981px #fff,
    1743px 1241px #fff, 463px 1185px #fff, 9px 1363px #fff, 829px 517px #fff,
    355px 1084px #fff, 1429px 1073px #fff, 73px 303px #fff, 359px 830px #fff,
    1288px 949px #fff, 1337px 1324px #fff, 196px 832px #fff, 1984px 1917px #fff,
    1993px 205px #fff, 1512px 1932px #fff, 1944px 705px #fff, 1751px 1890px #fff,
    292px 18px #fff, 26px 898px #fff, 670px 206px #fff, 521px 567px #fff,
    1359px 1313px #fff, 1346px 634px #fff, 809px 1772px #fff, 39px 1132px #fff,
    192px 1753px #fff, 1239px 1428px #fff, 1102px 40px #fff, 1704px 171px #fff,
    652px 1011px #fff, 1666px 319px #fff, 1918px 1946px #fff, 1664px 1791px #fff,
    408px 67px #fff, 585px 1760px #fff, 282px 1185px #fff, 957px 1075px #fff,
    621px 1677px #fff, 679px 1047px #fff, 954px 364px #fff, 273px 1250px #fff,
    1650px 475px #fff, 663px 1433px #fff, 1418px 684px #fff, 587px 641px #fff,
    1833px 1018px #fff, 1439px 887px #fff, 1413px 593px #fff, 1960px 473px #fff,
    372px 1362px #fff, 1751px 405px #fff, 514px 1430px #fff, 689px 881px #fff,
    1702px 775px #fff, 950px 1241px #fff, 1348px 499px #fff, 1239px 1460px #fff,
    787px 51px #fff, 1480px 1535px #fff, 1638px 842px #fff, 1446px 1741px #fff,
    297px 184px #fff, 500px 1213px #fff, 1166px 1071px #fff, 100px 53px #fff,
    357px 1626px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1455px 700px #fff, 164px 152px #fff, 214px 571px #fff,
    1014px 1362px #fff, 488px 823px #fff, 947px 196px #fff, 1442px 517px #fff,
    472px 199px #fff, 1933px 561px #fff, 1616px 48px #fff, 1465px 965px #fff,
    594px 50px #fff, 324px 1201px #fff, 1406px 1221px #fff, 329px 1968px #fff,
    1344px 1991px #fff, 940px 435px #fff, 11px 264px #fff, 241px 1328px #fff,
    1782px 107px #fff, 513px 703px #fff, 1477px 1720px #fff, 1610px 681px #fff,
    1802px 382px #fff, 1998px 68px #fff, 577px 1307px #fff, 960px 1277px #fff,
    58px 506px #fff, 896px 259px #fff, 1400px 1613px #fff, 324px 142px #fff,
    1931px 1157px #fff, 84px 288px #fff, 1261px 1154px #fff, 386px 964px #fff,
    117px 165px #fff, 760px 1563px #fff, 1931px 43px #fff, 152px 796px #fff,
    31px 40px #fff, 107px 1521px #fff, 1929px 734px #fff, 626px 1622px #fff,
    1377px 1208px #fff, 711px 205px #fff, 588px 107px #fff, 546px 226px #fff,
    1876px 1934px #fff, 732px 933px #fff, 1526px 2px #fff, 367px 362px #fff,
    1594px 1197px #fff, 146px 1739px #fff, 1402px 1989px #fff, 638px 1565px #fff,
    1820px 144px #fff, 401px 440px #fff, 892px 1507px #fff, 403px 1901px #fff,
    1824px 165px #fff, 767px 867px #fff, 771px 177px #fff, 1791px 1987px #fff,
    818px 68px #fff, 1754px 508px #fff, 333px 1687px #fff, 1369px 1605px #fff,
    1409px 482px #fff, 573px 1146px #fff, 290px 1070px #fff, 151px 1409px #fff,
    1039px 1506px #fff, 1913px 18px #fff, 551px 294px #fff, 187px 428px #fff,
    14px 427px #fff, 444px 738px #fff, 1802px 50px #fff, 928px 1488px #fff,
    1586px 30px #fff, 584px 1620px #fff, 1942px 664px #fff, 550px 1567px #fff,
    987px 1777px #fff, 949px 908px #fff, 1772px 1484px #fff, 1561px 1283px #fff,
    1606px 542px #fff, 435px 1445px #fff, 1761px 1078px #fff, 1119px 243px #fff,
    1929px 364px #fff, 1062px 874px #fff, 829px 565px #fff, 1716px 539px #fff,
    400px 1364px #fff, 526px 90px #fff, 1325px 332px #fff, 1385px 1873px #fff,
    1469px 385px #fff, 484px 1577px #fff, 1995px 641px #fff, 744px 1423px #fff,
    761px 1169px #fff, 910px 1502px #fff, 1552px 1727px #fff, 1037px 1107px #fff,
    884px 1108px #fff, 441px 879px #fff, 40px 1931px #fff, 639px 1778px #fff,
    1274px 1160px #fff, 1658px 1772px #fff, 283px 156px #fff, 259px 1467px #fff,
    791px 331px #fff, 809px 1317px #fff, 523px 1537px #fff, 215px 1103px #fff,
    143px 1804px #fff, 500px 1504px #fff, 1672px 636px #fff, 1153px 333px #fff,
    857px 1080px #fff, 977px 357px #fff, 1805px 1145px #fff, 1187px 1217px #fff,
    790px 952px #fff, 1107px 645px #fff, 1300px 251px #fff, 1048px 1385px #fff,
    1241px 1778px #fff, 851px 1383px #fff, 1912px 632px #fff, 1144px 255px #fff,
    615px 907px #fff, 1798px 311px #fff, 1983px 159px #fff, 851px 244px #fff,
    507px 370px #fff, 512px 139px #fff, 802px 1689px #fff, 809px 660px #fff,
    1454px 493px #fff, 271px 774px #fff, 1452px 1158px #fff, 1196px 1450px #fff,
    294px 1767px #fff, 1785px 301px #fff, 1644px 1744px #fff, 251px 963px #fff,
    714px 1377px #fff, 1147px 958px #fff, 1084px 648px #fff, 1788px 731px #fff,
    308px 662px #fff, 1228px 995px #fff, 1268px 1193px #fff, 1713px 719px #fff,
    596px 678px #fff, 1984px 300px #fff, 518px 612px #fff, 151px 1157px #fff,
    802px 747px #fff, 329px 1903px #fff, 1424px 50px #fff, 390px 495px #fff,
    1126px 838px #fff, 148px 1498px #fff, 599px 624px #fff, 1454px 1103px #fff,
    1573px 1735px #fff, 1519px 149px #fff, 1985px 635px #fff, 1009px 1163px #fff,
    207px 515px #fff, 1248px 1114px #fff, 822px 1019px #fff, 1903px 1882px #fff,
    562px 1178px #fff, 378px 795px #fff, 1057px 1084px #fff, 1225px 1277px #fff,
    800px 1855px #fff, 1386px 981px #fff, 80px 223px #fff, 1113px 219px #fff,
    1160px 1282px #fff, 1327px 170px #fff, 1637px 131px #fff, 1326px 1787px #fff,
    1573px 1925px #fff, 784px 1260px #fff, 612px 73px #fff, 249px 554px #fff,
    1720px 1435px #fff, 1597px 1816px #fff, 488px 1317px #fff, 1910px 21px #fff,
    1367px 985px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1455px 700px #fff, 164px 152px #fff, 214px 571px #fff,
    1014px 1362px #fff, 488px 823px #fff, 947px 196px #fff, 1442px 517px #fff,
    472px 199px #fff, 1933px 561px #fff, 1616px 48px #fff, 1465px 965px #fff,
    594px 50px #fff, 324px 1201px #fff, 1406px 1221px #fff, 329px 1968px #fff,
    1344px 1991px #fff, 940px 435px #fff, 11px 264px #fff, 241px 1328px #fff,
    1782px 107px #fff, 513px 703px #fff, 1477px 1720px #fff, 1610px 681px #fff,
    1802px 382px #fff, 1998px 68px #fff, 577px 1307px #fff, 960px 1277px #fff,
    58px 506px #fff, 896px 259px #fff, 1400px 1613px #fff, 324px 142px #fff,
    1931px 1157px #fff, 84px 288px #fff, 1261px 1154px #fff, 386px 964px #fff,
    117px 165px #fff, 760px 1563px #fff, 1931px 43px #fff, 152px 796px #fff,
    31px 40px #fff, 107px 1521px #fff, 1929px 734px #fff, 626px 1622px #fff,
    1377px 1208px #fff, 711px 205px #fff, 588px 107px #fff, 546px 226px #fff,
    1876px 1934px #fff, 732px 933px #fff, 1526px 2px #fff, 367px 362px #fff,
    1594px 1197px #fff, 146px 1739px #fff, 1402px 1989px #fff, 638px 1565px #fff,
    1820px 144px #fff, 401px 440px #fff, 892px 1507px #fff, 403px 1901px #fff,
    1824px 165px #fff, 767px 867px #fff, 771px 177px #fff, 1791px 1987px #fff,
    818px 68px #fff, 1754px 508px #fff, 333px 1687px #fff, 1369px 1605px #fff,
    1409px 482px #fff, 573px 1146px #fff, 290px 1070px #fff, 151px 1409px #fff,
    1039px 1506px #fff, 1913px 18px #fff, 551px 294px #fff, 187px 428px #fff,
    14px 427px #fff, 444px 738px #fff, 1802px 50px #fff, 928px 1488px #fff,
    1586px 30px #fff, 584px 1620px #fff, 1942px 664px #fff, 550px 1567px #fff,
    987px 1777px #fff, 949px 908px #fff, 1772px 1484px #fff, 1561px 1283px #fff,
    1606px 542px #fff, 435px 1445px #fff, 1761px 1078px #fff, 1119px 243px #fff,
    1929px 364px #fff, 1062px 874px #fff, 829px 565px #fff, 1716px 539px #fff,
    400px 1364px #fff, 526px 90px #fff, 1325px 332px #fff, 1385px 1873px #fff,
    1469px 385px #fff, 484px 1577px #fff, 1995px 641px #fff, 744px 1423px #fff,
    761px 1169px #fff, 910px 1502px #fff, 1552px 1727px #fff, 1037px 1107px #fff,
    884px 1108px #fff, 441px 879px #fff, 40px 1931px #fff, 639px 1778px #fff,
    1274px 1160px #fff, 1658px 1772px #fff, 283px 156px #fff, 259px 1467px #fff,
    791px 331px #fff, 809px 1317px #fff, 523px 1537px #fff, 215px 1103px #fff,
    143px 1804px #fff, 500px 1504px #fff, 1672px 636px #fff, 1153px 333px #fff,
    857px 1080px #fff, 977px 357px #fff, 1805px 1145px #fff, 1187px 1217px #fff,
    790px 952px #fff, 1107px 645px #fff, 1300px 251px #fff, 1048px 1385px #fff,
    1241px 1778px #fff, 851px 1383px #fff, 1912px 632px #fff, 1144px 255px #fff,
    615px 907px #fff, 1798px 311px #fff, 1983px 159px #fff, 851px 244px #fff,
    507px 370px #fff, 512px 139px #fff, 802px 1689px #fff, 809px 660px #fff,
    1454px 493px #fff, 271px 774px #fff, 1452px 1158px #fff, 1196px 1450px #fff,
    294px 1767px #fff, 1785px 301px #fff, 1644px 1744px #fff, 251px 963px #fff,
    714px 1377px #fff, 1147px 958px #fff, 1084px 648px #fff, 1788px 731px #fff,
    308px 662px #fff, 1228px 995px #fff, 1268px 1193px #fff, 1713px 719px #fff,
    596px 678px #fff, 1984px 300px #fff, 518px 612px #fff, 151px 1157px #fff,
    802px 747px #fff, 329px 1903px #fff, 1424px 50px #fff, 390px 495px #fff,
    1126px 838px #fff, 148px 1498px #fff, 599px 624px #fff, 1454px 1103px #fff,
    1573px 1735px #fff, 1519px 149px #fff, 1985px 635px #fff, 1009px 1163px #fff,
    207px 515px #fff, 1248px 1114px #fff, 822px 1019px #fff, 1903px 1882px #fff,
    562px 1178px #fff, 378px 795px #fff, 1057px 1084px #fff, 1225px 1277px #fff,
    800px 1855px #fff, 1386px 981px #fff, 80px 223px #fff, 1113px 219px #fff,
    1160px 1282px #fff, 1327px 170px #fff, 1637px 131px #fff, 1326px 1787px #fff,
    1573px 1925px #fff, 784px 1260px #fff, 612px 73px #fff, 249px 554px #fff,
    1720px 1435px #fff, 1597px 1816px #fff, 488px 1317px #fff, 1910px 21px #fff,
    1367px 985px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1820px 1020px #fff, 1173px 1271px #fff, 14px 364px #fff,
    1294px 1696px #fff, 655px 1811px #fff, 668px 197px #fff, 717px 859px #fff,
    1537px 1626px #fff, 1285px 89px #fff, 170px 888px #fff, 1348px 1406px #fff,
    1538px 1138px #fff, 1443px 824px #fff, 917px 1728px #fff, 950px 571px #fff,
    1769px 858px #fff, 937px 1194px #fff, 831px 1008px #fff, 1004px 1623px #fff,
    1718px 805px #fff, 1836px 1068px #fff, 705px 757px #fff, 959px 1854px #fff,
    1404px 389px #fff, 211px 1526px #fff, 1775px 1747px #fff, 1036px 804px #fff,
    1634px 526px #fff, 1661px 1010px #fff, 1527px 1689px #fff, 239px 1316px #fff,
    1414px 301px #fff, 68px 58px #fff, 38px 211px #fff, 1174px 1134px #fff,
    694px 1421px #fff, 1718px 474px #fff, 876px 789px #fff, 351px 1292px #fff,
    824px 940px #fff, 344px 1584px #fff, 836px 390px #fff, 1214px 1981px #fff,
    971px 1128px #fff, 1264px 12px #fff, 1924px 720px #fff, 1213px 714px #fff,
    91px 1952px #fff, 1638px 773px #fff, 888px 726px #fff, 1230px 1930px #fff,
    1738px 972px #fff, 1489px 1224px #fff, 1499px 1547px #fff, 1722px 734px #fff,
    900px 1026px #fff, 280px 1224px #fff, 435px 68px #fff, 116px 1244px #fff,
    750px 1893px #fff, 181px 1809px #fff, 1734px 106px #fff, 1004px 676px #fff,
    1041px 516px #fff, 1820px 477px #fff, 1159px 1622px #fff, 474px 1730px #fff,
    593px 202px #fff, 268px 1554px #fff, 1477px 1765px #fff, 755px 723px #fff,
    1570px 1425px #fff, 522px 1089px #fff, 1199px 1756px #fff, 1993px 4px #fff,
    135px 1652px #fff, 1146px 1787px #fff, 712px 1870px #fff, 877px 1969px #fff,
    1236px 601px #fff, 1976px 1248px #fff, 1770px 1718px #fff,
    1653px 1034px #fff, 768px 1054px #fff, 1451px 976px #fff, 1315px 190px #fff,
    270px 1359px #fff, 134px 674px #fff, 450px 1380px #fff, 1251px 1783px #fff,
    353px 1522px #fff, 1491px 1778px #fff, 1696px 1810px #fff, 195px 12px #fff,
    1325px 747px #fff, 1037px 1542px #fff, 1352px 1559px #fff,
    1252px 1161px #fff, 251px 1441px #fff, 1082px 713px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1820px 1020px #fff, 1173px 1271px #fff, 14px 364px #fff,
    1294px 1696px #fff, 655px 1811px #fff, 668px 197px #fff, 717px 859px #fff,
    1537px 1626px #fff, 1285px 89px #fff, 170px 888px #fff, 1348px 1406px #fff,
    1538px 1138px #fff, 1443px 824px #fff, 917px 1728px #fff, 950px 571px #fff,
    1769px 858px #fff, 937px 1194px #fff, 831px 1008px #fff, 1004px 1623px #fff,
    1718px 805px #fff, 1836px 1068px #fff, 705px 757px #fff, 959px 1854px #fff,
    1404px 389px #fff, 211px 1526px #fff, 1775px 1747px #fff, 1036px 804px #fff,
    1634px 526px #fff, 1661px 1010px #fff, 1527px 1689px #fff, 239px 1316px #fff,
    1414px 301px #fff, 68px 58px #fff, 38px 211px #fff, 1174px 1134px #fff,
    694px 1421px #fff, 1718px 474px #fff, 876px 789px #fff, 351px 1292px #fff,
    824px 940px #fff, 344px 1584px #fff, 836px 390px #fff, 1214px 1981px #fff,
    971px 1128px #fff, 1264px 12px #fff, 1924px 720px #fff, 1213px 714px #fff,
    91px 1952px #fff, 1638px 773px #fff, 888px 726px #fff, 1230px 1930px #fff,
    1738px 972px #fff, 1489px 1224px #fff, 1499px 1547px #fff, 1722px 734px #fff,
    900px 1026px #fff, 280px 1224px #fff, 435px 68px #fff, 116px 1244px #fff,
    750px 1893px #fff, 181px 1809px #fff, 1734px 106px #fff, 1004px 676px #fff,
    1041px 516px #fff, 1820px 477px #fff, 1159px 1622px #fff, 474px 1730px #fff,
    593px 202px #fff, 268px 1554px #fff, 1477px 1765px #fff, 755px 723px #fff,
    1570px 1425px #fff, 522px 1089px #fff, 1199px 1756px #fff, 1993px 4px #fff,
    135px 1652px #fff, 1146px 1787px #fff, 712px 1870px #fff, 877px 1969px #fff,
    1236px 601px #fff, 1976px 1248px #fff, 1770px 1718px #fff,
    1653px 1034px #fff, 768px 1054px #fff, 1451px 976px #fff, 1315px 190px #fff,
    270px 1359px #fff, 134px 674px #fff, 450px 1380px #fff, 1251px 1783px #fff,
    353px 1522px #fff, 1491px 1778px #fff, 1696px 1810px #fff, 195px 12px #fff,
    1325px 747px #fff, 1037px 1542px #fff, 1352px 1559px #fff,
    1252px 1161px #fff, 251px 1441px #fff, 1082px 713px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
